#signup-container {
  min-height: 100vh;
  background-image: url("../../assets/studyBg2.jpg");
  background-size: cover;
}
.form-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container > div {
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#signup-container label {
  color: white;
  font-size: 1rem;
}
