@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
}
:where(
    .css-dev-only-do-not-override-htwhyh
  ).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border: 0 !important;
}
